<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dostoyevski</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<div class="container">
    <h2>Z</h2>

    <div class="panel with-nav-tabs" th:classappend="${colorPanel}">
        <div class="panel-heading">
            <ul class="nav nav-tabs">

                <!-- Fijos -->
                <li th:classappend="${categoriaActiva == 'nombre'} ? 'active'">
                    <a th:href="@{/perfil(categoria='nombre')}">Nombre</a>
                </li>

                <li th:classappend="${categoriaActiva == 'correo'} ? 'active'">
                    <a th:href="@{/perfil(categoria='correo')}">Correo</a>
                </li>

                <li th:classappend="${categoriaActiva == 'github'} ? 'active'">
                    <a th:href="@{/perfil(categoria='github')}">GitHub</a>
                </li>

                <!-- Dropdown -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Más <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li th:each="cat : ${categoriasDropdown}">
                            <a th:href="@{/perfil(categoria=${cat})}"
                               th:text="${#strings.capitalize(cat.replace('-', ' '))}">
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="panel-body">

            <div th:if="${categoriaActiva == 'nombre'}">
                <h4>Nombre</h4>
                <p>Joshua Alejandro Porras Villalobos.</p>
            </div>

            <div th:if="${categoriaActiva == 'correo'}">
                <h4>Correo</h4>
                <p>a377175@uach.mx</p>
            </div>

            <div th:if="${categoriaActiva == 'github'}">
                <h4>GitHub</h4>
                <p>https://github.com/Josh2584.</p>
            </div>

            <div th:if="${categoriaActiva == 'gran-malo'}">
                <h4>Precio de un Gran Malo</h4>
                <p>$350</p>
            </div>

            <div th:if="${categoriaActiva == 'johnnie-walker'}">
                <h4>Precio de un Johnnie Walker</h4>
                <p>$360</p>
            </div>

            <div th:if="${categoriaActiva == 'cafe'}">
                <h4>Café</h4>
                <p>15 tazas al día no hacen daño</p>
            </div>

            <div th:if="${categoriaActiva == 'cuatro'}">
                <h4>4</h4>
                <p>4</p>
            </div>
			
			<!--A falta de ganas de poner una foto de perfil, dejo esta como pequeño secreto-->
            <div th:if="${categoriaActiva == 'fatum-betula'}">
                <h4>Beast</h4>
                <img th:src="@{/img/fatum-betula.png}" class="img-responsive">
            </div>
			
			<div th:if="${categoriaActiva == 'top-3'}">
			    <h4>top 3 ____</h4>
			    <p>1.- _______, 2.- ____________ y 3.- __________</p>
			</div>
			
			<div th:if="${categoriaActiva == 'L'}">
			    <h4>Ni idea</h4>
			    <p>I</p>
			</div>
			
			<div th:if="${categoriaActiva == 'Azul'}">
			    <h4>Menú Azul</h4>
			    <p>boolean panelAzul = true;</p>
			</div>
			
			<div th:if="${categoriaActiva == 'Rojo'}">
			    <h4>Menú Rojo</h4>
			    <p>boolean panelAzul = false;</p>
			</div>
			
			<div th:if="${categoriaActiva == 'Todo'}">
			    <h4>y</h4>
			    <p>Nada</p>
			</div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
