<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Dosto</title>

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

    <!-- Código de HTML -->

    <!-- jQuery (necesario para Bootstrap) -->
    <script th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap JS -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
